{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["babel"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "double"],
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-console": ["off", { "allow": ["info", "error"] }],
    "no-underscore-dangle": ["off"],
    "no-unused-expressions": ["off"],
    "no-use-before-define": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-danger": 0,
    "react/no-children-prop": ["off"],
    "react/destructuring-assignment": ["off"],
    "react/prop-types": [1, { "ignore": ["data", "location"] }],
    "react/require-default-props": [0],
    "babel/new-cap": 1,
    "babel/object-curly-spacing": [2, "always"],
    "babel/semi": 1
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true
  }
}
