{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "double"],
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "template-curly-spacing": "off",
    "no-console": [
      "warn",
      {
        "allow": ["info", "error"]
      }
    ],
    "no-underscore-dangle": ["off"],
    "no-unused-expressions": ["off"],
    "no-use-before-define": ["off"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/no-danger": 0,
    "react/no-children-prop": ["off"],
    "react/destructuring-assignment": ["off"],
    "react/prop-types": [0],
    "react/require-default-props": [0],
    "no-alert": ["off"],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-closing-tag-location": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-equals-spacing": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-wrap-multilines": "off"
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true
  }
}
